@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Funcionário</h2>

        <div class="alert alert-secondary" role="alert">
            Key: ANO_MES_CPF_NOME
        </div>
        <form>
            <div class="form-group">
                <label for="txtnome">Nome:</label>
                <input type="text" class="form-control" id="txtnome" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="txtAno">Ano:</label>
                <input type="text" class="form-control" id="txtAno" placeholder="Ano">
            </div>
            <div class="form-group">
                <label for="txtMes">Mes:</label>
                <input type="text" class="form-control" id="txtMes" placeholder="Mes">
            </div>
            <div class="form-group">
                <label for="txtSalario">Salário:</label>
                <input type="text" class="form-control" id="txtSalario" placeholder="Salário">
            </div>
            <div class="form-group">
                <label for="txtJetons">Jetons:</label>
                <input type="text" class="form-control" id="txtJetons" placeholder="Jetons">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
