@{
    ViewBag.Title = "List";
    @model TrabalhoHbaseV2.Models.ListModel
}


<div class="row">
    <div class="col-md-12">
        <h2>List</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Funcionarios)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Nome</td>
                </tr>
            }
        </tbody>
    </table>


</div>
